@model Web.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <!-- bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="/assets/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>
<body>

    <!-- Include header partial view -->
    <partial name="_HeaderPartial" />

    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <h1>Login</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card my-5">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="lottie-container" id="lottie-container" style="width: 300px; height: 300px;"></div>
                        </div>
                        <form asp-action="Login" method="post" id="loginForm">
                            @Html.AntiForgeryToken()

                            <div class="form-group my-2">
                                <label for="Email">Email</label>
                                <input type="email" class="form-control" id="Email" placeholder="Enter your email.." asp-for="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group my-2">
                                <label for="Password">Password</label>
                                <input type="password" class="form-control" id="Password" placeholder="Enter your password.." asp-for="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-group form-check my-2">
                                <input type="checkbox" class="form-check-input" id="RememberMe" asp-for="RememberMe" />
                                <label class="form-check-label" for="RememberMe">Remember Me</label>
                            </div>
                            <div class="row justify-content-center">
                               <button type="submit" id="btn-boxed" class="my-3"> Login <i class="fa fa-check" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include footer partial view -->
    <partial name="_FooterPartial" />

    <!-- Include Scripts partial view -->
    <partial name="_ScriptsPartial" />

</body>
<script>
    document.getElementById('loginForm').addEventListener('submit', function (e) {
        e.preventDefault();
        login();
    });

    function login() {
        var email = document.getElementById('Email').value;
        var password = document.getElementById('Password').value;
        var rememberMe = document.getElementById('RememberMe').checked;

        if (email === "" || password === "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Email and password are required!',
            });
            return;
        }

        $.ajax({
            type: 'POST',
            url: '/Login',
            data: {
                Email: email,
                Password: password,
                RememberMe: rememberMe
            },
            success: function (response) {
                if (response.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Login Successfully',
                        text: 'Welcome to NomNom Bites.',
                    });
                    // If login is successful, redirect to the home page
                    window.location.href = '/Home/Index';
                } else {
                    // If login fails, show error message
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: response.message,
                    });
                }
            },
            error: function (xhr, status, error) {
                // If there's an error with the AJAX request, show generic error message
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'An error occurred while processing your request.',
                });
            }
        });
    }

    const container = document.getElementById('lottie-container');

    if (container && typeof lottie !== 'undefined') {
        fetch('/assets/animation/Animation_Login.json')
            .then(response => response.json())
            .then(animationData => {
                const anim = lottie.loadAnimation({
                    container: container,
                    renderer: 'svg',
                    loop: true,
                    autoplay: true,
                    animationData: animationData,
                });
            })
            .catch(error => {
                console.error('Error loading animation data:', error);
            });
    }
    else {
        console.error("Container element not found or Lottie library not loaded.");
    }


</script>
