@{
    ViewData["Title"] = "About";
	Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <!-- bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="/assets/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>
<body>

    <!-- Include header partial view -->
    <partial name="_HeaderPartial" />

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>We sale Nice Food</p>
						<h1>About Us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
	<!-- featured section -->
	<div class="feature-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="featured-text">
						<h2 class="pb-3">Why <span class="orange-text">Nom Nom Bites</span></h2>
						<div class="row">
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-shipping-fast"></i>
									</div>
									<div class="content">
										<h3>Home Delivery</h3>
										<p>sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-money-bill-alt"></i>
									</div>
									<div class="content">
										<h3>Best Price</h3>
										<p>sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-briefcase"></i>
									</div>
									<div class="content">
										<h3>Custom Box</h3>
										<p>sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-sync-alt"></i>
									</div>
									<div class="content">
										<h3>Quick Refund</h3>
										<p>sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- shop banner -->
	<section class="shop-banner">
		<div class="container">
			<h3>December sale is on! <br> with big <span class="orange-text">Discount...</span></h3>
			<div class="sale-percent"><span>Sale! <br> Upto</span>50% <span>off</span></div>
			<a href="shop.html" class="cart-btn btn-lg">Shop Now</a>
		</div>
	</section>
	<!-- end shop banner -->
	<!-- team section -->
	<div class="mt-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3>Our <span class="orange-text">Team</span></h3>
						<p>Collaboration is at the heart of our culture. We believe in the power of teamwork to inspire breakthroughs and achieve remarkable results.</p>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-2"></div>
						<h4>Khalid Wahid<span>Software Engineer</span></h4>
						<ul class="social-link-team">
							<li><a href="https://www.facebook.com/share/Znq2EtBMGezA9Bhx/?mibextid=qi2Omg" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://github.com/KhaledMidian" target="_blank"><i class="fab fa-github"></i></a></li>
							<li><a href="https://www.linkedin.com/in/khalid-wahid-744141219/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-1"></div>
						<h4>Shrouq Gamal <span>Software Engineer</span></h4>
						<ul class="social-link-team">
							<li><a href="https://www.facebook.com/shrouk.shaban.3532?mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://github.com/ShroukGamal1" target="_blank"><i class="fab fa-github"></i></a></li>
							<li><a href="https://www.linkedin.com/in/shrouk-gamal-616a96234/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			
				<div class="col-lg-2 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-team-item">
						<div class="team-bg team-bg-4"></div>
						<h4>Maryam El fishawy <span>Software Engineer</span></h4>
						<ul class="social-link-team">
							<li><a href="https://www.facebook.com/profile.php?id=100008958044794&mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://github.com/MariemSaid23" target="_blank"><i class="fab fa-github"></i></a></li>
							<li><a href="https://www.linkedin.com/in/maryam-elfishawy-5708211bb?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-team-item">
						<div class="team-bg team-bg-5"></div>
						<h4>Hadeer<span>Software Engineer</span></h4>
						<ul class="social-link-team">
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-github"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-team-item">
						<div class="team-bg team-bg-3"></div>
						<h4>Islam Ismail<span>Software Engineer</span></h4>
						<ul class="social-link-team">
							<li><a href="https://www.facebook.com/islam.ismail.ali" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://github.com/Islam-Ismail-Aly" target="_blank"><i class="fab fa-github"></i></a></li>
							<li><a href="https://www.linkedin.com/in/islam-ismail-ali/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end team section -->
	<!-- logo carousel -->
	<br /><br /><br />
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="/assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->
    <!-- Include footer partial view -->
    <partial name="_FooterPartial" />

    <!-- Include Scripts partial view -->
    <partial name="_ScriptsPartial" />

</body>

<!-- end featured section -->
