@model IEnumerable<CategoryViewModel>
@{
    ViewData["Title"] = "Category";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Category</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-Action="Index"></a>Home</li>
                        <li class="breadcrumb-item active">Manage NomNom Bites</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Categories Management</h3>
                        <div class="card-tools">
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Availability</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Any())
                                {
                                    @foreach (var category in Model)
                                    {
                                        <tr>
                                            <td>@category.CategoryTitle</td>
                                            <td>
                                                @switch (category.IsAvailable)
                                                {
                                                    case true:
                                                        <span class="badge badge-success">Available</span>
                                                        break;
                                                    case false:
                                                        <span class="badge badge-danger">Not Available</span>
                                                        break;
                                                }
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-info btn-sm" onclick="Edit('@category.CategoryId', '@category.CategoryTitle')" value="Edit" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-sm" onclick="Delete('@category.CategoryId')" value="Delete">
                                                    Delete <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="3">
                                            <div class="bg-warning-subtle p-2 rounded-square rounded-3 my-2" role="alert">
                                                <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
                                                <span> No categories available</span>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- DataTables  & Plugins -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/Admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/Admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>

<script>
    jQuery.noConflict();
    jQuery(function ($) {
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "responsive": true,
        });
    });
</script>
